<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <label for="token">OAuth Token</label>
        <input type="text" class="form-control" id="token">
        <label for="mpns">PUBNUMS To Look Up (*500 Max)</label>
        <input type="text" class="form-control" id="mpns">
    </div>
    <button id="submit-btn" type="button" class="form-control" value="Upload File" name="submit">Upload File</button>
    <div>
        <h3>Status</h3>
        <h2 id="status-area"></h2>
    </div>
</form>